.footer {
    background-color: var(--font-color-six); 
    color: white;
    padding: 40px 0;
    font-size: 14px;
    font-family: var(--font-primary);
    letter-spacing: 1px;
    line-height: 1.5; 
}

.footer-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-brand,
.footer-contact,
.footer-services {
    flex: 1;
    min-width: 300px;
    flex-basis: 30%; 
    margin-bottom: 20px;
    margin-right: 30px;
}

.footer-logo {
   
        font-family: "Audiowide", sans-serif;
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 15px;
        font-weight: bolder;
        letter-spacing: 5px;
        background: linear-gradient(45deg, var(--font-color-secondary), var(--font-color-three)); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
}

.footer-text {
    margin-top: 10px;
}

.footer-contact h3,
.footer-services h3 {
    font-size: 20px;
    font-weight: bold;
}

.footer-services ul {
    margin: 0;
    padding: 0;
    list-style: square inside;
}

.footer-services ul li {
    margin: 5px 0;
    padding-left: 0;
}

.footer-contact a {
    color: white;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.footer-services li:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    transform: scaleX(1.03);
    transition: transform 0.6s ease-in-out;

}

@media (max-width: 768px) {
    .footer {
        font-size: 14px; 
   
    }
    .footer-text { 
        font-size: 14px; 
    }

    .footer-logo {
        font-size: 20px; 
    }

    .footer-contact h3,
    .footer-services h3 {
        font-size: 18px; 
    }

    .footer-contact a {
        font-size: 14px; 
    }

    .footer-container {
        width: 90%; 
        flex-direction: column; 
    }
}
